@media (min-width: 1600px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1420px;
    }
}

* {
    color: $color-black;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-right: 0;
    padding-left: 0;
}

.main.row {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.main.row>* {
    padding: 0;
}

.opacity-15 {
    opacity: 0.15 !important;
}

.opacity-40 {
    opacity: 0.4 !important;
}

.opacity-80 {
    opacity: 0.8 !important;
}

.mb-6 {
    margin-bottom: 5rem !important;
}

.fs-7 {
    font-size: 0.9rem !important;
}

//----------------------------------------------------
.bold {
    font-family: "Manrope bold";
}

.semibold {
    font-family: "Manrope semibold";
}

.thin {
    font-family: "Manrope thin";
}

body {
    background-color: $color-light-gray;
}

main {
    margin: 40px 0 80px;
}

.my-excursions,
.active-excursions,
.archive-excursions,
.moderation-excursions,
.draft-excursions,
.current-excursion,
.accordion__content {
    display: none;
}

.visible {
    display: initial;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    letter-spacing: 3px;
    font-size: 0.7rem;
}

a,
button,
span,
p {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: $color-black;
}

a:hover {
    color: $color-black;
}

.default {
    background-color: $color-white;
    color: $color-black;
}

.bg-green {
    background-color: $color-green;
    color: $color-white;
}

.menu-item {
    height: 70px;
    width: 100%;
    font-family: "Manrope semibold";
}

.menu-item__name {
    font-size: 0.9rem;
}

.icon {
    width: 20px;
    height: 20px;
}

.big-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.active,
.active>* {
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 0 10px 30px 7px rgba($color-blue, 0.3);
    z-index: 1;
}

.blue {
    color: $color-blue;
}

.star {
    width: 16px;
    height: 16px;
}

.excursion {}

.splitted {
    position: relative;
}

.splitted::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-light-gray;
}

.excursion__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0.375rem 0.375rem 0;
}

.archived {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.excursion__type,
.excursion__number,
.excursion__rating,
.excursion__menu,
.excursion__status {
    font-size: 0.7rem;
}

.excursion__number,
.excursion__menu {
    letter-spacing: 3px;
}

.excursion__type {
    color: $color-white;
    background-color: $color-blue;
}

.excursion__rating {}

.excursion__status {
    color: $color-green;
}

.excursion__smalltext {
    font-size: 0.5rem;
}

.excursion__archive {
    position: relative;
    color: $color-red;
}

.excursion__archive::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color-red, 0.07);
}

.red-dot {
    position: relative;
}

.red-dot::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    background-color: $color-red;
    border-radius: 50%;
}

.sms {
    position: relative;
}

.sms::before {
    content: '';
    position: absolute;
    left: calc(100% - 34px);
    top: -1px;
    width: 7px;
    height: 7px;
    background-color: $color-red;
    border-radius: 50%;
}

.expand-img>.icon {
    transition: 0.3s;
    transform: rotate(180deg);
}

.accordion__item.visible>.accordion__content {
    display: block;
}

.accordion__item.visible .expand-img>.icon {
    transform: rotate(0deg);
}

.reviews__line {
    height: 2px;
    background-color: rgb(240, 240, 240);
    position: relative;
}

#review-1 .reviews__line::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 0.7rem;
    height: 4px;
    background-color: $color-blue;
    border-radius: 6px;
}

#review-2 .reviews__line::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 0;
    height: 4px;
    background-color: $color-blue;
    border-radius: 6px;
}

#review-3 .reviews__line::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 1.5rem;
    height: 4px;
    background-color: $color-blue;
    border-radius: 6px;
}

#review-4 .reviews__line::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 7rem;
    height: 4px;
    background-color: $color-blue;
    border-radius: 6px;
}

#review-5 .reviews__line::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 40rem;
    height: 4px;
    background-color: $color-blue;
    border-radius: 6px;
}